<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col s6 push-s3">
      <%= hidden_field_tag "type", "entrada" %>

      <div class="input-field ">
        <%= form.label :name %>
        <%= form.text_field :name, id: :material_name %>
      </div>

      <div class="input-field">
        <%= form.label :quantify %>
        <%= form.text_field :quantify, id: :material_quantify%>
      </div>

      <div class="input-field ">
        <%= form.submit 'Enviar', :class => 'btn btn-inverse' %>
      </div>
  </div>
</div>

<% end %>
